#
#Creating a self-signed certificate
#
# Based on https://www.ibm.com/docs/en/ztpf/2020?topic=gssccr-configuration-file-generating-self-signed-certificates-certificate-requests
####################################################################
[req]
days                   = 180
serial                 = 1
distinguished_name     = req_distinguished_name
x509_extensions        = v3_ca

[req_distinguished_name]
countryName_default            = US
stateOrProvinceName_default    = CA
localityName_default           = Our Fair City
organizationName_default       = SomeCompany
commonName                     = Common Name
commonName_default             = SomeCompanyCACert
0.emailAddress_default         = moe@somecompany.com
1.emailAddress_default         = curly@somecompany.com
2.emailAddress_default         = larry@somecompany.com

[ v3_ca ]
# The extentions to add to a self-signed cert
# @see also https://www.freecodecamp.org/news/how-to-get-https-working-on-your-local-development-environment-in-5-minutes-7af615770eec/
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints       = critical,CA:TRUE
keyUsage               = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment, keyAgreement, keyCertSign
subjectAltName         = @alt_names
issuerAltName          = issuer:copy

[alt_names]
DNS.1 = localhost

